# TLA+ Toolbox Model Configuration
# Model Name: TeslaChainAxis_12
#
# To use:
#   1. Open TLA+ Toolbox
#   2. Open spec: TeslaChainAxis.tla
#   3. Run model with this configuration
#
# Constants:
#   GenesisHash = "GENESIS"
#   MaxHeight = 12

---- CONSTANTS ----
GenesisHash = "GENESIS"
MaxHeight = 12

---- INVARIANTS ----
Inv1_AXIS_Contiguity
Inv2_GENESIS_Immutability
Inv3_No_Skip_Violations
Inv4_Chain_Finality

---- DEADLOCK CHECK ----
(disable)

---- TEMPORAL PROPERTIES ----
ConsistencyCheck